@charset "utf-8";
	body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd{
		margin: 0;
		padding: 0;
	}
	ul,li,ol{
		list-style: none;
	}
	img{
		vertical-align: middle;
	}
	a,u{
		text-decoration: none;
	}
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	i,em{
		font-style: none;
	}

	