@charset "utf-8";
@import './modules/common';
@import '../libs/bootstrap/css/bootstrap.min.css';
@import './modules/header';

body {
  overflow-y: hidden;
}

.register {
  min-width: 1440px;
  width: 1440px;
  height: 830px;
  background: url(../images/register/register-backgroundimg.JPG) no-repeat center;
}

form {
  position: relative;
}

.reg-frame {
  padding: 30px;
  position: absolute;
  width: 430px;
  height: 400px;
  left: 200px;
  top: 100px;
  border-radius: 10px;
  background-color: #fff;
  opacity: .7;

}

.reg-top {
  height: 50px;
  border-bottom: 1px solid #99999a;
}

.reg-top a {
  color: #e00;
  text-decoration: underline;
}

.reg-bottom {
  text-align: center;
  margin-top: 20px;
}

input {
  width: 300px;
  text-align: center;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  margin: 20px 0 20px 0;
}
button{
  width: 370px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: red;
}